.app
  min-height: 100vh
  width: 100%

  display: grid
  grid-template-rows: fit-content(20ch) minmax(min(50vw, 30ch), 1fr)

  background-image: linear-gradient( to right bottom, #e7fdff, #caefff, #bfdcff, #ccc4fc, #e5a7e0 )
