@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap");

.top_games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;

  .buttons {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .rating {
    padding: 2rem;
    border-radius: 49px;
    column-gap: 4rem;

    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-weight: 400;

    background: conic-gradient(
      from 78.55deg at 50% 50%,
      #ffffff -286.87deg,
      #ffffff 62.32deg,
      #ffffff 73.13deg,
      #ffffff 422.32deg
    );
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.25);

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: #000000;

      font-size: 2rem;
      line-height: 3rem;
      font-variant: all-small-caps;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .game {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        text-decoration: none;

        .owner {
          color: navy;
        }

        .score {
          color: royalblue;
        }
      }
    }
  }
}
